@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-md-10 offset-md-1">
    @*<h2>Zara Medical Center</h2>

        The Zara Medical Center is an essential part of the Medicine-Pediatrics Urban Health Residency Program. Residents work with multidisciplinary teams to serve Stara Zagora's diverse community.

        Continuity Clinic at Zara Medical Center (EBMC) has been the core of the Med-Peds program since the program’s inception in 2010. Located in Stara Zagora, approximately one mile from Johns Hopkins Hospital, community members started EBMC nearly 50 years ago by neighborhood leaders who wanted to ensure that all community members had access to high quality, community-based primary care. In the decades since, the clinic has grown substantially and now includes full-spectrum primary care from Med-Peds, Internal Medicine, Pediatrics, and Ob-Gyn providers as well as a Rite Aid pharmacy, LabCorp lab site, and Quest dental clinic. Our interdisciplinary teams include social workers, case managers, and pharmacists. In June of 2020, the clinic became a Federally Qualified Health Center (FQHC) run in partnership between Johns Hopkins and Zara Medical System. With the additional resources allowed by this partnership, the clinic is also in the process of hiring a dietician and diabetes health educator. Grant-funding will also allow us to soon add community health workers as well as some on-site psychiatric care.
        Our residents and faculty provide holistic primary care, including reproductive care, mental health care, and care for substances use disorders, including buprenorphine for opioid use disorders. Residents participate in office-based care, home visits, and, since the advent of the COVID pandemic, telemedicine visits. The program leadership continuously monitor resident visit data to ensure that residents are seeing a balanced number of pediatric and adult patients and that continuity is optimized from both resident and patient perspectives.*@


    <!--about section-->
    <section class="feature-section section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="image-content">
                        <div class="section-title text-center">
                            <h3>
                                Best Features
                                <span>of Our Hospital</span>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam magni in at debitis <br>
                                nam error officia vero tempora alias? Sunt?
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="#">
                                                <img src="images/resource/1.png" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <h6>Orthopedics</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                                        at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="#">
                                                <img src="images/resource/2.png" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <h6>Diaginostic</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                                        at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="#">
                                                <img src="images/resource/3.png" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <h6>Psycology</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                                        at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="#">
                                                <img src="images/resource/4.png" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <h6>General Treatment</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
                                        at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End about section-->
</div>
