@model IEnumerable<AllBloodTestsViewModel>

<div class="d-flex">

    <partial name="_SideNavBarDoctors" />
    
    @if (!this.Model.Any())
    {
        <h4>There is no tests!</h4>
    }
    <table class="table table-info table-hover table-striped table-bordered text-center">

        <tr>

            <th>Created</th>
            <th>Sending Doctor</th>
        </tr>

        @foreach (var test in this.Model)
        {
            <tr>

                <td><a asp-controller="BloodTests" asp-action="SeeResults" asp-route-id="@test.Id">@test.CreatedOn</a></td>
                <td>@test.DoctorFullName</td>
            </tr>
        }
    </table>

</div>
