@model MedicalCenter.Services.ViewModels.Doctors.PreviewDoctorProfileViewModel
@{
    ViewBag.Title = "Change Profile";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form method="post" class="mx-auto half-width" asp-controller="Doctors" asp-action="ChangeProfile" asp-route-id="@this.Model.Id" enctype="multipart/form-data">
            
            <div class="form-group">
                <label asp-for="Biography"></label>
                <textarea asp-for="Biography" class="form-control" rows="15"></textarea>
                <span asp-validation-for="Biography" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label>Image</label>
                <input class="form-control" type="file">
                
            </div>


            <input class="btn btn-warning mt-3 text-center" type="submit" value="Change" />
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
