@model MedicalCenter.Services.ViewModels.Doctors.InputScheduleFormModel

<div class="d-flex justify-content-between">

    <partial name="_SideNavBarDoctors" />


    <form class="form-check col-md-6" asp-controller="Doctors" asp-action="MakeSchedule" method="post">
        <h2 class="heading-margin text-center">Add Free Hour</h2>
        <div class="form-group">
            <label asp-for="Date"></label>
            <br />
            <input type="datetime-local" asp-for="Date" />
            <span asp-validation-for="Date" class="small text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success text-center">Add Hour</button>
    </form>

    <div>

    </div>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}