<div class="d-flex align-items-start mr-4">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link btn btn-style-one mb-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"  role="tab" aria-controls="v-pills-home" aria-selected="true" asp-area="Administrator" asp-controller="Doctors" asp-action="CreateDoctor">Create Doctor</a>
        <a class="nav-link btn btn-style-one" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"  role="tab" aria-controls="v-pills-profile" aria-selected="false" asp-area="Administrator" asp-controller="Images" asp-action="AllImages">All Images</a>
    </div>
</div>