@model IEnumerable<ListAllSchedulesViewModel>

<div class="row offset-md-3">

    @foreach (var day in this.Model)
    {
    <div class="col-md-2  border-right">
        <div class="d-flex flex-column">
            <h6>@day.NameOfDay</h6>

            @foreach (var h in day.Hours)
            {
                @if (!h.IsFree)
                {
                    <a class="btn btn-danger disabled">@h.Hour</a>
                    <br />
                }
                else
                {
                    <a asp-controller="Schedule" asp-action="MakeAppointment" asp-route-id="@h.HourId" class="btn btn-success">@h.Hour</a>
                    <br />
                }

            }
        </div>
    </div>
    }
    

</div>
